# Winning Wrestlers Entertainment

In this activity you will be taking four seperate csvs that were scraped down from a wrestling database, merging them together, and then creating charts to visualize a wrestler's wins and losses over the course of four years.

### Part 1 - Macho Merging

* You will likely need to perform three different merges over the course of this activity, changing the names of your columns as you go along.

In [1]:
# Import the necessary modules/dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
# Bring each CSV into a separate data frame
wrestler_data_2013 = pd.read_csv("../Resources/WWE-Data-2013.csv")
wrestler_data_2014 = pd.read_csv("../Resources/WWE-Data-2014.csv")
wrestler_data_2015 = pd.read_csv("../Resources/WWE-Data-2015.csv")
wrestler_data_2016 = pd.read_csv("../Resources/WWE-Data-2016.csv")

In [3]:
# Merge the first two datasets (2013 and 2014) on "Wrestler" so that no data is lost (should be 182 rows)
combined_wrestler_data = pd.merge(wrestler_data_2013, wrestler_data_2014, on='Wrestler', how='outer',suffixes=(' in 2013', ' in 2014'))
combined_wrestler_data.head()

,Wrestler,Wins in 2013,Losses in 2013,Draws in 2013,Wins in 2014,Losses in 2014,Draws in 2014
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0

In [8]:
# Merge our newly combined dataframe with the 2015 dataframe
combined2_wrestler_data = pd.merge(combined_wrestler_data, wrestler_data_2015, on='Wrestler',how='outer')
combined2_wrestler_data.head()

,Wrestler,Wins in 2013,Losses in 2013,Draws in 2013,Wins in 2014,Losses in 2014,Draws in 2014,Wins,Losses,Draws
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0,51.0,7.0,0.0
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,150.0,63.0,5.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0,NaN,NaN,NaN
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,81.0,10.0,1.0

In [5]:
# Rename "wins", "losses", and "draws" to "2015 Wins", "2015 Losses", and "2015 Draws"

In [6]:
# Merge our newly combined dataframe with the 2016 dataframe

In [7]:
# Rename "wins", "losses", and "draws" to "2016 Wins", "2016 Losses", and "2016 Draws"