In [5]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts

In [6]:
# Read in the california housing data set
housing_data = pd.read_csv('../Resources/California_Housing.csv')
housing_data = housing_data.dropna()
housing_data.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,5.2742,17.0,8.908654,1.884615,351.0,1.687500,32.98,-117.27
1,1.8438,52.0,3.069847,1.044293,2382.0,4.057922,34.07,-118.26
2,7.0691,13.0,6.689697,1.009697,2444.0,2.962424,37.57,-121.87
3,5.4719,38.0,5.890080,0.957105,1228.0,3.292225,37.52,-122.28
4,4.0156,35.0,6.195312,1.171875,669.0,5.226562,33.93,-117.41

In [10]:
# Determine which measure of central tendency is most appropriate to describe the Population

mean_pop = housing_data['Population'].mean()
mean_pop

1387.9633333333334

In [4]:
# Determine if the house age in California is considered normally distributed

In [5]:
# Determine if there are any potential outliers in the average occupancy in California

In [6]:
# With the potential outliers, what is the lowest and highest median income (in $1000s) observed?

In [7]:
# Bonus - plot the latitude and longitude of the California housing data using Matplotlib, color the data points using the median income of the block.